{% extends 'base.html' %}

{% block title %}Последние новости{% endblock %}

{% block content %}
    <div class="news">
        <div class="container"></div>
            <h1>Последние новости</h1>
            {% for post in posts %}
            <div class="card">
                <h3 class="card-title">{{ post.title }}</h3>
                <h4 class="card-date">{{ post.postDate }}</h4>
                <p class="card-content">{{ post.content|truncatewords:20 }}</p>
                <a href="{% url 'postDetail' pk=post.pk %}" class="primary-button">Читать далее</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}